header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content */
}

.header-title {
  display: flex; /* Use flexbox for the title */
  align-items: center; /* Center items vertically */
  text-align: center; /* Center text */
  flex-grow: 1; /* Allow the title to fill the remaining space */
}

.windTurbine-img {
  height: 3em; /* Image height */
  margin-right: 15px; /* Space between the image and the title */
}

h1 {
  font-size: 7em; /* Title size */
  margin: 0; /* Remove default margin */
}


